In [122]:
import os
import plaid
import requests
import datetime
import json
import pandas as pd
%matplotlib inline

In [123]:
def pretty_print_response(response):
  print(json.dumps(response, indent=4, sort_keys=True))

In [124]:
PLAID_CLIENT_ID = os.getenv('PLAID_CLIENT_ID')
PLAID_SECRET = os.getenv('PLAID_SBX_SECRET_KEY')
PLAID_PUBLIC_KEY = os.getenv('PLAID_PUBLIC_KEY')
PLAID_ENV = os.getenv('PLAID_ENV', 'sandbox')
PLAID_PRODUCTS = os.getenv('PLAID_PRODUCTS', 'transactions')

PLAID_CLIENT_ID

'5e17c03aca4e880012dc1fe9'

# Plaid Access Token

In this section, you will use the plaid-python api to generate the correct authentication tokens to access data in the free developer Sandbox. This mimics how you might connect to your own account or a customer account, but due to privacy issues, this homework will only require connecting to and analyzing the fake data from the developer sandbox that Plaid provides. 

Complete the following steps to generate an access token:
1. Create a client to connect to plaid
2. Use the client to generate a public token and request the following items: 
['transactions', 'income', 'assets']
3. Exchange the public token for an access token
4. Test the access token by requesting and printing the available test accounts

### 1. Create a client to connect to plaid

In [125]:
INSTITUTION_ID = "ins_109508"

In [126]:
# YOUR CODE HERE
client = plaid.Client(client_id=PLAID_CLIENT_ID, secret=PLAID_SECRET, public_key=PLAID_PUBLIC_KEY, environment=PLAID_ENV)
#client = Client(client_id=PLAID_CLIENT_ID, secret=PLAID_SECRET, public_key=PLAID_PUBLIC_KEY, environment=PLAID_ENV)

client.Institutions.get(2)

{'institutions': [{'country_codes': ['CA'],
   'credentials': [{'label': 'Login ID', 'name': 'username', 'type': 'text'},
    {'label': 'Access Code (PAC)', 'name': 'password', 'type': 'password'}],
   'has_mfa': True,
   'input_spec': 'fixed',
   'institution_id': 'ins_118841',
   'mfa': ['code', 'list', 'questions', 'selections'],
   'mfa_code_type': 'numeric',
   'name': 'Access Credit Union - Online Banking',
   'products': ['assets', 'balance', 'transactions', 'income', 'identity'],
   'routing_numbers': []},
  {'country_codes': ['GB'],
   'credentials': [{'label': 'Username', 'name': 'username', 'type': 'text'},
    {'label': 'Password', 'name': 'password', 'type': 'password'}],
   'has_mfa': True,
   'input_spec': 'fixed',
   'institution_id': 'ins_119371',
   'mfa': ['code', 'list', 'questions', 'selections'],
   'mfa_code_type': 'numeric',
   'name': 'Aegon (Online Services)',
   'products': ['assets', 'balance', 'transactions', 'investments'],
   'routing_numbers': []}],
 'request_id': 'F2EgIPcZtCYeesy',
 'total': 11279}

### 2. Generate a public token

In [127]:
# YOUR CODE HERE
create_tkn_response = client.Sandbox.public_token.create(INSTITUTION_ID, ['transactions','income','assets'])

### 3. Exchange the public token for an access token

In [128]:
# YOUR CODE HERE
exchange_response = client.Item.public_token.exchange(create_tkn_response['public_token'])
access_token = exchange_response['access_token']

### 4. Fetch Accounts

In [129]:
# YOUR CODE HERE
accounts = client.Accounts.get(access_token)

#Iterate in accounts
i = 0
for i in range (0, len(accounts['accounts'])):
    pretty_print_response(accounts['accounts'][i]['account_id'])
    #print(f"Account_ID_{i+1} : {accounts['accounts'][i]['account_id']}")
    i+=1

"Ep5z4rVVvGt5badN9v8XCrWMWmbpVjFXBAGnk"
"W75oG4XXzvh5BXlAN7WPC3GQGV4rDXclbNnzE"
"AZRl39wwp8CZylL79beGi7WkWlRG4gc1pVZN5"
"Gg5GPknnovU5XdyQqwEgCPALAMz1VXu1pNmg7"
"nGzXVJRRwahKPvNzZEqMcE6r6e8LB9i657rq9"
"bGJaVjDDgvh4lVmBpzgLiK5v5eLkDWUVk9apK"
"mGkeV9MMbdhqNvmk87lefNoQomqg58fLoKxZy"
"yXealbkk5LCjGwV3d5mJTd7973nmQoFya1jRR"

---

# Account Transactions with Plaid

In this section, you will use the Plaid Python SDK to connect to the Developer Sandbox account and grab a list of transactions. You will need to complete the following steps:


1. Use the access token to fetch the transactions for the last 90 days
2. Print the categories for each transaction type
3. Create a new DataFrame using the following fields from the JSON transaction data: `date, name, amount, category`. (For categories with more than one label, just use the first category label in the list)
4. Convert the data types to the appropriate types (i.e. datetimeindex for the date and float for the amount)

### 1. Fetch the Transactions for the last 90 days

In [130]:
# YOUR CODE HERE
start_date = '{:%Y-%m-%d}'.format(datetime.datetime.now() + datetime.timedelta(-90))
end_date = '{:%Y-%m-%d}'.format(datetime.datetime.now())
transaction_response = client.Transactions.get(access_token,start_date,end_date)
#transaction_response

### 2. Print the categories for each transaction

In [131]:
# YOUR CODE HERE
#pretty_print_response(transaction_response['transactions'][1]['category'])

print("Transaction ID                           Category")
print("---------------------------------------------------------------------------------------")
for transactions in transaction_response['transactions']:
    print(f"{transactions['transaction_id']}    {transactions['category']}")

Transaction ID                           Category
---------------------------------------------------------------------------------------
yXealbkk5LCjGwV3d5mJTd79wj9ZqKuya1jze    ['Payment', 'Credit Card']
Ep5z4rVVvGt5badN9v8XCrWMRQMkEqfXBAGnW    ['Travel', 'Car Service', 'Ride Share']
Jq5Gebww9vt5dyv9zwqaCDpG4RG6z3CdyKaDL    ['Transfer', 'Debit']
Ra5eg1wwovT5BoWAxDqyCNRBlGBpA7iRqxDgA    ['Transfer', 'Deposit']
638wWBnndjs3eaVQx4D7iWgN5QNLmeSglaNBP    ['Recreation', 'Gyms and Fitness Centers']
W75oG4XXzvh5BXlAN7WPC3GQ9eQnl1HlbNnzL    ['Travel', 'Airlines and Aviation Services']
AZRl39wwp8CZylL79beGi7WkndkrVyS1pVZQg    ['Food and Drink', 'Restaurants']
Gg5GPknnovU5XdyQqwEgCPALBkL7vrc1pNm5m    ['Food and Drink', 'Restaurants', 'Coffee Shop']
nGzXVJRRwahKPvNzZEqMcE6rqQrbgpS657rjv    ['Food and Drink', 'Restaurants']
9aAvnwRRKQTakP6oLDJXiLn38X3jvkiRveApQ    ['Transfer', 'Credit']
Xe5NnwbbBvsljGeMrwx5f8ZaWKae9wFdXMVmk    ['Travel', 'Airlines and Aviation Services']
bGJaVjDDgvh4lVmBpzgLiK5vbMv7JzsVk9aXd    ['Travel', 'Car Service', 'Ride Share']
DL5rawnnVAu5D4kKj1JgCgGrwdrb9lsvolV5R    ['Food and Drink', 'Restaurants']
5BgwEVnn6PfEwdoP3ypjioG8kr8MzBcZn4R11    ['Payment']
wGjzV5RRJMhVpvP5KzA8h4gV5oV98nirpykbX    ['Food and Drink', 'Restaurants']
Vj5XAgZZrvi5LqJDbB8zCQlrmNrEgMsWV5xBg    ['Shops', 'Sporting Goods']
vwPrVRggAZI4mvaP9qb6ix7pQ8pGvWuWKGNMR    ['Payment', 'Credit Card']
mGkeV9MMbdhqNvmk87lefNoQZJQExWiLoKxDn    ['Travel', 'Car Service', 'Ride Share']

### 3. Create a new DataFrame using the following fields from the JSON transaction data: date, name, amount, category. 

(For categories with more than one label, just use the first category label in the list)

In [155]:
# YOUR CODE HERE
transactions = transaction_response['transactions']
data_df = pd.DataFrame(transactions)[['date', 'name', 'amount', 'category']]
data_df

,date,name,amount,category
0,2020-01-16,CREDIT CARD 3333 PAYMENT *//,25.00,"[Payment, Credit Card]"
1,2020-01-16,Uber 063015 SF**POOL**,5.40,"[Travel, Car Service, Ride Share]"
2,2020-01-15,ACH Electronic CreditGUSTO PAY 123456,5850.00,"[Transfer, Debit]"
3,2020-01-15,CD DEPOSIT .INITIAL.,1000.00,"[Transfer, Deposit]"
4,2020-01-14,Touchstone Climbing,78.50,"[Recreation, Gyms and Fitness Centers]"
5,2020-01-14,United Airlines,-500.00,"[Travel, Airlines and Aviation Services]"
6,2020-01-13,McDonald's,12.00,"[Food and Drink, Restaurants]"
7,2020-01-13,Starbucks,4.33,"[Food and Drink, Restaurants, Coffee Shop]"
8,2020-01-12,SparkFun,89.40,"[Food and Drink, Restaurants]"
9,2020-01-11,INTRST PYMNT,-4.22,"[Transfer, Credit]"
10,2020-01-01,United Airlines,500.00,"[Travel, Airlines and Aviation Services]"
11,2019-12-30,Uber 072515 SF**POOL**,6.33,"[Travel, Car Service, Ride Share]"
12,2019-12-27,Tectra Inc,500.00,"[Food and Drink, Restaurants]"
13,2019-12-26,AUTOMATIC PAYMENT - THANK,2078.50,[Payment]
14,2019-12-26,KFC,500.00,"[Food and Drink, Restaurants]"
15,2019-12-26,Madison Bicycle Shop,500.00,"[Shops, Sporting Goods]"
16,2019-12-17,CREDIT CARD 3333 PAYMENT *//,25.00,"[Payment, Credit Card]"
17,2019-12-17,Uber 063015 SF**POOL**,5.40,"[Travel, Car Service, Ride Share]"

### 4. Convert the data types to the appropriate types 

(i.e. datetimeindex for the date and float for the amount)

In [156]:
# YOUR CODE HERE

data_df['amount'] = data_df['amount'].astype('float')
data_df["date"] = pd.DatetimeIndex(data_df["date"])
data_df.set_index("date", inplace=True)

data_df['category']=data_df.category.apply(', '.join)
#data_df.dtypes
data_df

,name,amount,category
date,,,
2020-01-16,CREDIT CARD 3333 PAYMENT *//,25.00,"Payment, Credit Card"
2020-01-16,Uber 063015 SF**POOL**,5.40,"Travel, Car Service, Ride Share"
2020-01-15,ACH Electronic CreditGUSTO PAY 123456,5850.00,"Transfer, Debit"
2020-01-15,CD DEPOSIT .INITIAL.,1000.00,"Transfer, Deposit"
2020-01-14,Touchstone Climbing,78.50,"Recreation, Gyms and Fitness Centers"
2020-01-14,United Airlines,-500.00,"Travel, Airlines and Aviation Services"
2020-01-13,McDonald's,12.00,"Food and Drink, Restaurants"
2020-01-13,Starbucks,4.33,"Food and Drink, Restaurants, Coffee Shop"
2020-01-12,SparkFun,89.40,"Food and Drink, Restaurants"
2020-01-11,INTRST PYMNT,-4.22,"Transfer, Credit"
2020-01-01,United Airlines,500.00,"Travel, Airlines and Aviation Services"
2019-12-30,Uber 072515 SF**POOL**,6.33,"Travel, Car Service, Ride Share"
2019-12-27,Tectra Inc,500.00,"Food and Drink, Restaurants"
2019-12-26,AUTOMATIC PAYMENT - THANK,2078.50,Payment
2019-12-26,KFC,500.00,"Food and Drink, Restaurants"
2019-12-26,Madison Bicycle Shop,500.00,"Shops, Sporting Goods"
2019-12-17,CREDIT CARD 3333 PAYMENT *//,25.00,"Payment, Credit Card"
2019-12-17,Uber 063015 SF**POOL**,5.40,"Travel, Car Service, Ride Share"

---

# Income Analysis with Plaid

In this section, you will use the Plaid Sandbox to complete the following:
1. Determine the previous year's gross income and print the results
2. Determine the current monthly income and print the results
3. Determine the projected yearly income and print the results

In [157]:
# YOUR CODE HERE
income = client.Income.get(access_token)['income']

gross_income =income['last_year_income_before_tax']
monthly_income = income['income_streams'][0]['monthly_income']
projected_income = income['projected_yearly_income_before_tax']

print(f'Last Year Gross Income  : {gross_income}')
print(f'Current Monthly Income  : {monthly_income}')
print(f'Projected Yearly Income : {projected_income}')

#income

Last Year Gross Income  : 7893
Current Monthly Income  : 500
Projected Yearly Income : 7389

---

# Budget Analysis
In this section, you will use the transactions DataFrame to analyze the customer's budget

1. Calculate the total spending per category and print the results (Hint: groupby or count transactions per category)
2. Generate a bar chart with the number of transactions for each category 
3. Calculate the expenses per month
4. Plot the total expenses per month

### Calculate the expenses per category

In [158]:
# YOUR CODE HERE
data_df.groupby('category').sum()

                                           amount
category
Food and Drink, Restaurants               1101.40
Food and Drink, Restaurants, Coffee Shop     4.33
Payment                                   2078.50
Payment, Credit Card                        50.00
Recreation, Gyms and Fitness Centers        78.50
Shops, Sporting Goods                      500.00
Transfer, Credit                            -4.22
Transfer, Debit                           5850.00
Transfer, Deposit                         1000.00
Travel, Airlines and Aviation Services       0.00
Travel, Car Service, Ride Share             17.13

### Calculate the expenses per month

In [160]:
# YOUR CODE HERE
monthly_expenses = data_df.groupby(by=[data_df.index.month, data_df.index.year]).sum()
monthly_expenses

            amount
date date
1    2020  7060.41
12   2019  3615.23